<form autocomplete="on" [formGroup]="formLogin" (ngSubmit)="signIn()">
  <!-- ==================EMAIL ===================-->
  <div class="input-user">
    <span class="p-input-icon-left">
      <i class="pi pi-user"></i>
      <input
        class="p-inputtext-lg"
        type="text"
        pInputText
        name="usuario"
        placeholder="Usuario"
        formControlName="email"
        autofocus
      />
    </span>
  </div>
  <!-- ==================PASSWORD ===================-->
  <div class="input-pass">
    <span class="p-input-icon-left">
      <i class="pi pi-lock"></i>
      <input
        class="p-inputtext-lg"
        type="password"
        name="password"
        pInputText
        placeholder="Contraseña"
        formControlName="password"
      />
    </span>
  </div>
  <div class="btn-signup">
    <p-button
      type="submit"
      label="Iniciar sesión"
      [style]="{ width: '100%' }"
      [disabled]="!formLogin.valid"
    ></p-button>
  </div>
</form>
