<div class="container">
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let team of teams">
        <div class="our-team {{ team.framework }}">
          <div class="picture">
            <img [src]="team.img" [alt]="team.img" />
          </div>
          <div class="logo">
            <img [src]="team.logoUrl" [alt]="team.logoUrl" />
          </div>
          <div class="team-content">
            <h3 class="name">{{ team.nombre }}</h3>
            <h4 class="title">{{ team.profesion }}</h4>
          </div>
          <ul class="social {{ team.framework }}">
            <li>
              <a
                href="https://www.facebook.com"
                aria-hidden="true"
                target="back"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com" aria-hidden="true"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/?hl=es-la" aria-hidden="true"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://github.com" aria-hidden="true"
                ><i class="fab fa-github"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
